

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%
}

/* layout */
.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area:  header;
  background-color: #023c3f;
}
main {
  grid-area: main;
  padding: 10px;
}
footer {
  grid-area: footer;
  background-color: #023c3f;
  color: #ffffff
}
/* common */
h1 {
  font-size: 18px;
  padding: 10px 0;
}
h2 {
  font-size: 18px;
  padding: 10px 0;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: #f4f4f4;
  color: #023c3f;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input, select, textarea,
button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover, 
select:hover, 
textarea:hover,
button:hover {
  border: 1px solid #404040;
}

button.primary {
  background-color: #90c041;
  color: #000;
  font-weight: bolder;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 12px;
}

/* header */
header a {
  color: #fff;
  padding: 10px;
}
a.brand {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
a.brand:hover {
  background-color: #023c3f;
  color: #fff;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 14px;
  margin-left: 2px;
}
.row {/* creates items next to each other */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 250px; /* occupy 1/4, stringable, with width of 25rem */
}

.col-2 {
  flex: 2 1 500px; 
}
.min-30 {
  min-width: 300px;
}
.row.center{
  justify-content: center;
}
/* images */
img {
  border-radius: 5px;
  height: 200px;
  object-fit: contain;
}

img.large {
  width: 100%;
}

img.small {
  max-width: 50px;
  width: 100%;
}
img.medium {
  max-width: 290px;
  width: 100%;
}

/* card */
.card {
  border: 1px solid grey;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 10px;
}
.card-body {
  padding: 10px;
}
.card-body > * {
  margin-bottom: 5px;
}
.price {
  font-size: 20px;
}

/* rating */
.rating span {
  color: #f0c040;
  margin: 1px;
}

.rating span:last-child {
  color: #404040
}

/* alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020
}

.danger {
  color: #a02020
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* form */
.form {
  max-width: 600px;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form label {
  margin: 10px 0;
  /* display: block; */
}

/* dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 120px;
  padding: 10px;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 4px;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display:block
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 3px solid #c0c0c0;
  color: #c0c0c0;
  flex: 1;
  padding: 10px;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td, .table th {
  text-align: left;
  border: 1px solid #e4e4e4;
  padding: 5px;
}

.table button {
  margin: 0 2px;
}