
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}
/* layout */
.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

header {
  grid-area:  header;
  background-color: #023c3f;
}
main {
  grid-area: main;
  padding: 10px;
}
footer {
  grid-area: footer;
  background-color: #023c3f;
  color: #ffffff
}

/* common */
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

/* header */
header a {
  color: #fff;
  padding: 10px;
}
a.brand {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.row {/* creates items next to each other */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}

/* images */
img {
  border-radius: 5px;
  height: 200px;
  object-fit: contain;
}
img.medium {
  max-width: 290px;
  width: 100%;
}

/* card */
.card {
  border: 1px grey solid;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 10px
}
.card-body {
  padding: 10px;
}
.card-body > * {
  margin-bottom: 5px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}

